* {
 margin: 0;
 padding: 0;
}

body {
 background: linear-gradient(90deg, rgb(33, 36, 37) 6%, rgb(44, 43, 44) 29%, rgb(24, 25, 26) 84%);
 font-family: 'Roboto Condensed', sans-serif;
 /* overflow: hidden; */
}

.title-box {
 text-align: center;
 margin: 70px auto 50px;
 color: white;
}

.profile-box {
 width: 240px;
 height: 380px;
 background: #fff;
 border-radius: 4px;
 margin-bottom: 30px;
 /* box-shadow:   0px 0px 20px #ff00c8,
inset 0px 0px 20px #00ccff,
0px 0px 60px #ff00c8,
inset 0px 0px 60px #ff00c8; */
 box-shadow: 0 10px 10px 10px rgba(115, 193, 255, 0.1);
 padding: 20px;
 position: relative;
}

.profile-box img {
 width: 100px;
 position: absolute;
 top: 30px;
 right: 20px;
 border-radius: 4px;
 transition: .5s;
}

.profile-box h4 {
 margin-top: 80px;
 margin-bottom: 5px;
 color: #00ccff;
}

small {
 color: #555;
}

.social-box {
 background: #00ccff;
 margin: 90px auto 20px;
 text-align: center;
 border-radius: 3px;
}

.social-box .fa {
 margin: 5px;
 color: #fff;
 cursor: pointer;
}

.profile-box p {
 text-align: center;
 line-height: 15px;
 color: #555;
}

.team-row {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 85%;
 margin: auto;
}

.profile-box img:hover {
 width: 240px;
}